### Lists and Tuples

These are called compond data types

#### Tuples

- Touples are an ordered sequence
- Tuples are written as comma-separated within parentheses
- each eement can be acces by an index
- we can use -ve indexing also

In [2]:
# example of touple
rating = (10,9,6,5,10,8,9,6,2)
print(rating)
rating[0]

(10, 9, 6, 5, 10, 8, 9, 6, 2)

10

#### concatenating

In [4]:
t1 = ("As",3.3,2)
t2 = t1 + ("ashish",)
t2

('As', 3.3, 2, 'ashish')

In [5]:
# slicing
t2[2:5]

(2, 'ashish')

#### Immutable
which means we cant change them

In [6]:
t2[1] = "asss"

TypeError: 'tuple' object does not support item assignment

In [8]:
v1 = 10,20,33,10,12,23,44,11,14
sorted(v1)

[10, 10, 11, 12, 14, 20, 23, 33, 44]

In [10]:
v1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

### Set
- Sets are a type of collection
- unlike lists and touples they are unorderd
- sets only have unique elements

#### It remove duplicate

In [11]:
# Create a set
set1 = {"a","b","c","d","e","a","b","a"}
set1

{'a', 'b', 'c', 'd', 'e'}

In [13]:
# type casting

album = ["mical","jakson","thriller","thriller"]

set_album = set(album)
set_album

{'jakson', 'mical', 'thriller'}

#### oprations

#### is we add same element twise nothing will happen as there is no dublicate in set

In [15]:
a = {"ac","bcb","nsy","thr"}

a.add("nsy")
a

{'ac', 'bcb', 'nsy', 'thr'}

In [16]:
# remove
a.remove("nsy")
a

{'ac', 'bcb', 'thr'}

In [17]:
"ac" in a

True

In [18]:
"who" in a

False

#### intersection

In [19]:
a = {"ac","black","thr"}
b = {"ac","black","new"}

a&b

{'ac', 'black'}

In [20]:
a.union(b)

{'ac', 'black', 'new', 'thr'}

In [23]:
c = {"ac"}

In [22]:
a.issubset(b)

False

In [24]:
c.issubset(a)

True

In [25]:
a.issubset(c)

False

In [26]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [27]:
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [28]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [29]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [30]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [31]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [32]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [33]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [34]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [35]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [36]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

### ## Quiz on Sets

Convert the list <code>\['rap','house','electronic music', 'rap']</code> to a set:

Consider the list <code>A = \[1, 2, 2, 1]</code> and set <code>B = set(\[1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [38]:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))
sum(A) == sum(B)

the sum of A is: 6
the sum of B is: 3

False

### Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [39]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [40]:
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

In [41]:
album_set1.issubset(album_set3)

True

## Scenario:Inventory Store

## Task-1 Create an empty dictionary 
First you need to create an empty dictionary, where you will be storing the product details.

In [42]:
inventory ={}

## Task-2 Store the first product details in variable
* Product Name= Mobile phone
* Product Quantity= 5
* Product price= 20000
* Product Release Year= 2020

In [43]:
ProductNo1 = "Mobile Phone"
ProductNo1_quantity = 5
ProductNo1_price = 20000
ProductNo1_releaseYear= 2020

## Task-3 Add the details in inventory

In [45]:
inventory["ProductNo1"]= ProductNo1
inventory["ProductNo1_quantity"]= ProductNo1_quantity
inventory["ProductNo1_price"]= ProductNo1_price
inventory["ProductNo1_releaseYear"]=ProductNo1_releaseYear

## Task-4 Store the second product details in a variable.
* Product Name= "Laptop"
* Product Quantity= 10
* Product price = 50000
* Product Release Year= 2023

In [46]:
ProductNo2 = "Laptop"
ProductNo2_quantity = 10
ProductNo2_price = 50000
ProductNo2_releaseYear= 2023

## Task-5 Add the item detail into the inventory.

In [47]:
inventory["ProductNo2"]= ProductNo2
inventory["ProductNo2_quantity"]= ProductNo2_quantity
inventory["ProductNo2_price"]= ProductNo2_price
inventory["ProductNo2_releaseYear"]=ProductNo2_releaseYear

## Task-6 Display the Products present in the inventory

In [48]:
print(inventory)

{'ProductNo1': 'Mobile Phone', 'ProductNo1_quantity': 5, 'ProductNo1_price': 20000, 'ProductNo1_releaseYear': 2020, 'ProductNo2': 'Laptop', 'ProductNo2_quantity': 10, 'ProductNo2_price': 50000, 'ProductNo2_releaseYear': 2023}

## Task-7 Check if `ProductNo1_releaseYear` and `ProductNo2_releaseYear` is in the inventory

In [49]:
"ProductNo1_releaseYear" in inventory

True

In [50]:
"ProductNo2_releaseYear" in inventory

True

## Task-8 Delete release year of both the products from the inventory

In [51]:
del(inventory["ProductNo1_releaseYear"])
del(inventory["ProductNo2_releaseYear"])